name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os-type }}

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        os-type: [windows-latest, macos-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: use_as_es6_module
    - run: npm run build
      working-directory: use_as_es6_module
